* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 28px;
  background-image: url(./img/spikes.png);
  background-position: center;
}

a {
  text-decoration: none;
}

.wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
.img {
  position: relative;
  background-color: #fff;
  border: 1px solid #aaa;
}

.img img {
  display: block;
  animation: fadeIn 1s ease-in 0s forwards;
}
.text {
  position: absolute;
  animation: textFadeIn 2.5s ease-in 0s forwards;
  width: 600px;
  text-align: justify;
}

.second {
  bottom: 100px;
  left: 150px;
}

.third {
  top: 100px;
  left: 150px;
}

.fourth {
  bottom: 30px;
  left: 100px;
}

.fifth {
  top: 100px;
  left: 100px;
}

.seventh {
  bottom: 100px;
  left: 50px;
}

.nineth {
  top: 60%;
  left: 50%;
  transform: translate(-60%, -50%);
  color: #fff;
}

.tenth {
  width: 400px;
  top: 100px;
  left: 100px;
}

.eleventh {
  top: 40%;
  left: 60%;
}

.twelfth{
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
}

.thirteenth{
  top: 10%;
  right: 5%;
}

.sixteenth{
  width: 40%;
  bottom: 10%;
  right: 5%;
}

footer {
  position: relative;
  text-align: center;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes textFadeIn {
  0% {
    opacity: 0;
  }

  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
